*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: beige;
    font-size: 18px;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:  rgb(243, 243, 124);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 18px;
    color: rgb(114, 86, 16);
    font-weight: 500;
    margin-left: 35px;
    justify-content: space-around;
    padding: 15px;
}
.navbar a:hover {
    color: gold;
}
.image-banner {
    height: 140vh;
    display: flex;
    margin-left: 130px;
    align-items: center;

}
.home{
    height: 18vh;
    background-size: 170px;
    background-position: center;
    background-position-x: right;
    margin-right: 120px;
    display: grid;
    align-items: center;
    justify-content: space-between
}
.home-content{
    background: transparent;
    max-width: 700px;
    margin-left: 125px;
    display: flex;
}
.home-img {
    border-radius: 50%;


}
.home-smi{
    position: absolute;
    top: 32cm;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
}
.home-smi a {
    margin-bottom: 2cm;
    display: inline;
    align-items: last baseline;
    width: 35px;
    height: 35px;
    background: transparent;
    font-size: 35px;
}
.home-smi a:hover{
    background-color: goldenrod;
    color: goldenrod;
}
.contact {
    position: absolute;
    top: 27cm;
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 125px
}
.contact-info {
    position: absolute;
    top: 27.5cm;
    width: 120px;
    align-items: center;
    margin-left: 125px;
    font-size: small;
}
.home-address {
    position: absolute;
    top: 0cm;
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 125px;
}
.home-address-content {
    position: absolute;
    top: 29.7cm;
    align-items: center;
    margin-left: 125px;
    font-size: small;
    width: 100px;
}
.map {
    position: absolute;
    top: 28.9cm;
    right: 0;
    margin-right: 140px;
}
.aboutme-container {
    height: 1500px;
    display: flex;
    align-items: center;
    background-size: 250px;
    background-position: center;
    background-position-x: right;
    margin-right: 120px;
    justify-content: space-between
}
.aboutme-content {
    background: fixed;
    max-width: 500px;
    margin-left: 120px;
}
.vertical-line {
    width: 0px;
    border-left: 1px solid rgb(194, 189, 189);
    height: 75%;
    float: right;
    margin-left: 50px;
    
    
}
.aboutme-info {
    margin-left: 85px;
    height: 1025px;
}
.aboutme-info h1 {
    width: 35%;
    color: goldenrod;
    font-size: 30px;
    font-weight: 600px;
    border-radius: 10px;
}
.aboutme-info h2 {
    width: 35%;
    color: goldenrod;
    font-size: 30px;
    font-weight: 600px;
    border-radius: 10px;
}
.aboutme-info h3 {
    width: 35%;
    color: goldenrod;
    font-size: 30px;
    font-weight: 600px;
    border-radius: 10px;
}
.aboutme-info h4 {
    width: 35%;
    color: goldenrod;
    font-size: 30px;
    font-weight: 600px;
    border-radius: 10px;
}
.contactme {
    height: 30vh;
    display: flex;
    align-items: center;
}
.contactme-content {
    margin-left: 35px;
}
.contactme-table input{
    width: 300%;
    padding-bottom: 15%;
}
.contactme-table textarea{
    width: 300%;
    padding-bottom: 100%;
}
.contactme-table label{
    justify-content: space-around;
}
.contactme-table{
    height: 30vh;
    margin-left: 300px;
    max-width: 350px;
    padding: 20px 75px;
    justify-content: space-between;

}
.form-group{
    padding-bottom: 15px;
}
.form-group label {
    display: block;
}
.form-group input, .form-group textarea{
    padding: 150px;
    width: 50%;
}
.form-group button {
    color: goldenrod;
}
.home-smi2{
    position: absolute;
    top: 24cm;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    right: 0;
}
.home-smi2 a {
    margin-bottom: 2cm;
    display: inline;
    align-items: last baseline;
    width: 35px;
    height: 35px;
    background: transparent;
    font-size: 35px;
}
.home-smi2 a:hover{
    background-color: goldenrod;
    color: goldenrod;
}
.map2 {
    position: absolute;
    top: 18.9cm;
    right: 0;
    margin-right: 140px;
}